@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");

/***************
variables
***************/
$primaryColor: #2e3366;
$violet: #690b9a;
$pink: #af358c;
$blue: #2969ca;
$lightBlue: #22b8cf;
$cream: #f6d2d4;
$white: #fff;
$font: 16px;
$fontFamily: "Raleway", sans-serif;
$transition: 0.4s ease-in-out;
$padding: 80px 0;

/***************
basic styles
***************/
body {
    font-family: $fontFamily;
    font-size: $font;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
html {
    scroll-behavior: smooth;
}

/***************
mixins
***************/
@mixin btn {
    color: $white;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 20px;
    background: $violet;
    border: 0;
    line-height: 1.5;
    padding: 10px 20px;
    transition: $transition;
    margin-top: 10px;
    &:hover {
        color: $cream;
    }
}
@mixin h2 {
    color: $violet;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/***************
mainHeader
***************/
.mainHeader {
    background-image: linear-gradient(rgba(105, 11, 154, .4), rgba(105, 11, 154, .4)), url(/img/header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    @media (max-width:767px) {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .bg-light {
        background: linear-gradient(rgba(105, 11, 154, .4), rgba(105, 11, 154, .4)) !important;
        .nav-link {
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            transition: $transition;
            margin-right: 15px;
            letter-spacing: 2px;
            &:hover {
                color: $lightBlue;
            }
        }
    }
    .container {
        @media (max-width:767px) {
            text-align: center;
        }
        .row {
            height: 80vh;
            h1 {
                font-size: 3.5rem;
                color: $white;
                letter-spacing: 2px;
                margin-bottom: 10px;
                @media (max-width:767px) {
                    font-size: 2.5rem;
                }
            }
            p {
                color: $white;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
            button {
                color: $white;
                font-size: 1.1rem;
                font-weight: 400;
                letter-spacing: 1px;
                border-radius: 20px;
                background: transparent;
                border: 1px solid $white;
                line-height: 1.5;
                text-transform: uppercase;
                padding: 10px 20px;
                transition: $transition;
                &:hover {
                    color: $lightBlue;
                }
            }
            iframe {
                @media (max-width:767px) {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/***************
radionice
***************/
#radionice {
    padding: $padding;
    h2 {
        @include h2;
    }
    button {
        @include btn;
    }
}

/***************
divider
***************/
.divider {
    background-image: url(/img/divider.png);
    background-position: center;
    background-size: cover;
    height: 929px;
    position: relative;
    .lead {
        font-size: 1.9rem;
        position: absolute;
        top: 470px;
        transform: rotate(-10deg);
    }
}

/***************
kursevi
***************/
#kursevi {
    padding: $padding;
    h2 {
        @include h2;
    }
    button {
        @include btn;
    }
}

/***************
footer
***************/
footer {
    background-image: url(/img/footer.png);
    background-size: cover;
    background-position: center;
    @media (max-width:767px) {
        text-align: center;
    }
    .col-md-3 {
        padding-top: 60px;
    }
    p {
        font-size: .8rem;
        margin-top: 10px;
    }
    .fab {
        font-size: 1.5rem;
        margin-right: 30px;
        cursor: pointer;
    }
}

/***************
blogHeader
***************/
.blogHeader {
    background-image: linear-gradient(rgba(105, 11, 154, .4), rgba(105, 11, 154, .4)), url(/img/headers.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    .bg-light {
        background: linear-gradient(rgba(105, 11, 154, .4), rgba(105, 11, 154, .4)) !important;
        .nav-link {
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            transition: $transition;
            margin-right: 15px;
            letter-spacing: 2px;
            &:hover {
                color: $lightBlue;
            }
        }
    }
    .container {
        margin-top: 60px;
        @media (max-width:767px) {
            text-align: center;
        }
        h2 {
            color: $cream;
            font-size: 2.2rem;
            letter-spacing: 1px;
            margin-bottom: 15px;
        }
        p {
            color: $white;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        button {
            color: $white;
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 1px;
            border-radius: 20px;
            background: transparent;
            border: 1px solid $white;
            line-height: 1.5;
            text-transform: uppercase;
            padding: 10px 20px;
            transition: $transition;
            margin-top: 20px;
            &:hover {
                color: $lightBlue;
            }
        }
    }
}

/***************
blog radionice
***************/
.blog-radionice {
    padding: $padding;
}

/***************
footer
***************/
footer {
    
}